/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para el título del encabezado */
header h1 {
    font-size: 36px;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilos para las secciones de los planetas */
.planeta {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para las imágenes de los planetas */
.planeta img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para los títulos de los planetas */
.planeta h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Estilos para los párrafos de descripción de los planetas */
.planeta p {
    font-size: 16px;
    margin-top: 10px;
}

/* Estilos para las secciones adicionales */
section {
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Usamos flexbox para centrar verticalmente */
    flex-direction: column; /* Alineamos el contenido en una columna */
    justify-content: center; /* Centramos verticalmente */
    align-items: center; /* Centramos horizontalmente */
    max-width: 1000px; /* Tamaño máximo del contenido */
    padding: 20px;
}


/* Estilos para los títulos de las secciones adicionales */
section h2 {
    font-size: 28px;
    margin-top: 10px;
    color: #333;
}

/* Estilos para el contenido de las secciones adicionales */
section p {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el enlace en el pie de página */
footer a {
    color: #fff;
    text-decoration: none;
}







/* Estilos para el contenedor del carrusel */
.carrusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* Estilos para los botones de navegación */
.carrusel button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.carrusel button:hover {
    background-color: #ff9900;
}

/* Estilos para el visor del carrusel */
.visor {
    overflow: hidden;
    flex-grow: 1;
}

/* Estilos para las imágenes del carrusel */
.imagenes-carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagenes-carrusel img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Estilos para las imágenes del carrusel */
.imagenes-carrusel img {
    max-width: 30%; /* Cambia este valor al porcentaje deseado */
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.md-medio {
    /* Estilos para pantallas medianas  centrar al medio*/
    max-width: 70%; /* Cambia este valor al porcentaje deseado */
    margin: 0 auto;

}